@model LocacaoModel
@{
    ViewBag.Title = "_Locacao";
}

<div >
    <img src=@Model.Jogo.Imagem />
</div>
<div class="text-center">
    <h2>@Model.Jogo.Nome</h2>
    <h3>
        Data prevista p/ devolução:
        @Model.DataPrevistaEntrega.ToString("dd/MM/yyyy")
    </h3>
    <h3>
        Valor:
        @Model.ValorInicial.ToString("c")
    </h3>
</div>
