@model JogoDetalhesModel
@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 40%"> Jogo </th>
            <th style="width: 30%"> Categoria</th>
            <th style="width: 30%"> Selo</th>
        </tr>
    </thead>
    <tr style="font-family: 'Bookman Old Style'; font-size: 20px">
        <th style="text-align:center"> @Model.Nome </th>
        <th style="text-align:center"> @Model.Categoria</th>
        <th style="text-align:center"> @Model.Selo</th>
    </tr>
</table>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 50%"> Imagem </th>
            <th style="width: 50%"> Video</th>
        </tr>
    </thead>
    <tr>
        <th>
            <img src=@Model.Imagem class="img-responsive" style="width: 500px; height: 350px" />
        </th>
        <th>
            <iframe width="650" height="350" src=@Model.Video frameborder="0" allowfullscreen></iframe>
        </th>
    </tr>
</table>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 100%"> Descrição </th>
        </tr>
    </thead>
    <tr>
        <th class="pre-scrollable" style="text-align:justify; padding: 10px">
            @Model.Descricao
        </th>
    </tr>
</table>







