@{
    ViewBag.Title = "Página Inicial";
}

<h2>Locadora LFGames</h2>

<div class="pull-left" id="slider">
    <figure>
        <img src='~/Content/Images/Games-1.jpg' class="img-responsive"/>
        <img src="~/Content/Images/Games-2013.jpg" class="img-responsive"/> 
        <img src="~/Content/Images/master_chief_halo_5_guardians-HD.jpg" />
        <img src="~/Content/Images/call_of_duty_black_ops_iii_2015_video_game-2880x1800.jpg" />
        <img src="~/Content/Images/last_of_us_screeens-wallpaper-1366x768.jpg" />
    </figure>
</div>

