@{
    ViewBag.Title = "Página Inicial";
}

<h2>Locadora CWI Crescer</h2>

<a href='@Url.Action("JogosDisponiveis", "Relatorio")'> Relatorio de jogos </a>

<form class="pull-right" action='@Url.Action("JogosDisponiveis","Relatorio")'>
    Presquisar: <input type="text" name="nome" />
    <input type="submit" />
</form>

<div class="pull-left">
    <img src='~/Content/Images/Games-1.jpg' class="img-responsive" style="padding:20px" /> 
</div>

