<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<meta charset="UTF-8" />
<title>Index</title>
</head>
<body>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/home" class="navbar-brand"> Lavanderia Oséias</a>
			</div>			
			<a href="/cliente" class="navbar-brand"> clientes</a>
			<a href="/cliente/cadastro" class="navbar-brand"> Cadastro</a>
		</div>
	</nav>	
	<h1 class="text-center h1">Pagina inicial</h1>
	
</body>
</html>