@CHARSET "UTF-8";

h1{
	margin-top: 20%;
	text-align: center;
	color: red;
	font-size: 75px;
	animation: 4s linear 0s infinite pulse;
}

@keyframes pulse{
	0% {  font-size: 90px; }
  	50% { font-size: 75px; }
	100% {  font-size: 90px; }
}