<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<title>Insert title here</title>
	</head>
	<body>
	
		<h2>Clientes</h2>
	
		<div th:if="${not #lists.isEmpty(clientes)}">        
	        <table  class="table table-striped table-bordered table-hover">        
	            <tr>
	                <th>Id</th>
	                <th>Nome</th>
	                <th>CPF</th>
	                <th>Email</th>
	                <th>Visualizar</th>
	                <th>Editar</th>
	                <th>Remover</th>
	            </tr>
	            <tr th:each="cliente : ${clientes}" class="tr">
	                <td th:text="${cliente.id}"><a th:href="@{|/clientes/${cliente.id}|}"></a></td>
	                <td th:text="${cliente.nome}"></td>
	                <td th:text="${cliente.cpf}"></td>
	                <td th:text="${cliente.email}"></td>
	                <td><a th:href="${ '/cliente/' + cliente.id}">Visualizar</a></td>
	                <td><a th:href="${'/cliente/editar/' + cliente.id}">Editar</a></td>
	                <td><a th:href="${'/cliente/remover/' + cliente.id}">Remover</a></td>
	            </tr>
	        </table>
    	</div>	
	</body>
</html>